{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% comment %} provides correct location to the images {% endcomment %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE --> 
      
      <form method="POST"> {% comment %} Required for form to parse image data properly {% endcomment %}
    {% csrf_token %}
    <fieldset class="form-group" enctype="multipart/form-data">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
      {% comment %} {{ form.as_p }} {% endcomment %}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
    </div>
{% endblock content %}



{% comment %} {% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

<h1> {{ user.username }} </h1>

{% endblock content %} {% endcomment %}
